html {
  box-sizing: border-box;
}

/* color palette */
:root {
  --primary-color: #7cf0bd;
  --secondary-color: #67e0a3;
  --accent-color: #317b22;
  --text-dark: #262b30;
  --text-light: #c6ced6;
  --background-light: #aff9c9;
  --background-dark: #2a4d14;

  /* sizes */
  --small-gap: 10px;
  --medium: 20px;
  --large: 50px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#wrapper {
  /* flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* styling */
  border: 1px solid black;
  border-radius: 20px;
  background-color: var(--background-light);

  /* layout */
  padding: 20px;

  /* dimensions */
  max-width: 1020px;
}
