html {
  box-sizing: border-box;
  font-family: "Alef";
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* variables */
:root {
  --primary-color: #7cf0bd;
  --secondary-color: #67e0a3;
  --accent-color: #317b22;
  --text-dark: #262b30;
  --text-light: #c6ced6;
  --background-light: #aff9c9;
  --background-dark: #2a4d14;

  /* Sizing Scale (Spacing) */
  --space-1: 0.25rem; /* 4px  */
  --space-2: 0.5rem; /* 8px  */
  --space-3: 1rem; /* 16px */
  --space-4: 1.5rem; /* 24px */
  --space-5: 2rem; /* 32px */
  --space-6: 3rem; /* 48px */

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* Font Sizes */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 2rem; /* 32px */
}

h1 {
  color: var(--text-dark);
}

.innerbox {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: var(--background-dark);
  color: text-light;
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: solid black;
  border-radius: var(--radius-lg);
  background-color: var(--background-light);

  padding: var(--space-3);
  margin: var(--space-3) auto;
  max-width: 1020px;
}
