html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-color: #000500;
  --mdark-color: #3f3a36;
  --medium-color: #92817a;
  --mbright-color: #f1dabf;
  --bright-color: #fffbff;
}

body {
  margin: 0;
}
h1 {
  color: var(--mdark-color);
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}

h1 {
  flex: 1;
}

button {
  margin: 0 10px;
  flex: 1;
}
.buttons {
  display: flex;
  align-items: center;

  width: 200px;
}
.new-book {
  margin: 0 auto;

  width: 50%;
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10px auto;
  padding: 20px;
  width: 1100px;

  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  background-color: var(--mbright-color);
}
