html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-color: #000500;
  --mdark-color: #3f3a36;
  --medium-color: #92817a;
  --mbright-color: #f1dabf;
  --bright-color: #fffbff;
}

body {
  margin: 0;
}
h1 {
  color: var(--mdark-color);
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}

h1 {
  flex: 1;
}

button {
  margin: 0 10px;
  padding: 5px;
  background-color: var(--bright-color);
  border: 1px solid var(--mbright-color);
  border-radius: 8px;
  cursor: pointer;

  flex: 1;
}
.nav,
.add {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 200px;
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10px auto;
  padding: 20px;
  width: 1100px;

  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  background-color: var(--mbright-color);
}
